CURRENT_PROJECT ='kkcms'

# config/database.yml
KK_DATABASE=''
KK_DATABASE_HOST=''
KK_DATABASE_USERNAME=''
KK_DATABASE_PASSWORD=''
KK_DATABASE_PRO=''
KK_DATABASE_SOCKET=

# config/secrets.yml
SECRET_KEY_BASE=''